header {
  nav {
    background-color: $blanco;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;
    .logoNav {
      display: flex;
      align-items: center;
      padding-left: 40px;
      span {
        font-family: "Poppins";
        font-size: 30px;
      }
      img {
        width: 60px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      font-family: "Poppins";
      z-index: 2;
      margin-left: 135px;
      li {
        padding: 7px;
        color: $grisClaro;
        transition: 1s;
        cursor: pointer;
        &:hover {
          color: $grisOscuro;
        }
      }
    }
    #carrito {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $grisClaro;
      position: relative;
      margin-right: 40px;
      z-index: 6;
      cursor: pointer;
      .fa-cart-shopping {
        font-size: 23px;
        color: $blanco;
        position: absolute;
        top: 52%;
        left: 47%;
        transform: translate(-50%, -50%);
      }
      .circuloCantidad {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $grisOscuro;
        position: absolute;
        top: 10%;
        left: 90%;
        transform: translate(-50%, -50%);
        span {
          color: $blanco;
          font-size: 10px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .carritoListarContainer {
      z-index: 5;
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      width: 180px;
      height: 100%;
      position: fixed;
      right: 0px;
      top: 0;
      background-color: $blanco;
      transition: 1s;
      box-shadow: 0px 0px 1px 1px #00000005;
      .carritoListar {
        width: 100%;
        height: auto;
        justify-content: center;
        .productoCarrito {
          display: flex;
          width: 100%;
          margin: 5px;
          img {
            width: 60px;
            object-fit: cover;
          }
          .dataCarrito {
            width: 100%;
            .cNombre {
              width: 100%;
            }
            .dataCarrito2 {
              display: flex;
              height: 20px;
              .cCantidad {
                width: 40%;
                font-size: 15px;
                color: $grisOscuro;
              }
              .cPrecio {
                width: 50%;
                color: green;
              }
            }
            .btnQuitar {
              color: $grisClaro;
              transition: 0.5s;
              &:hover {
                color: rgb(248, 124, 124);
                &:active {
                  transition: none;
                  color: red;
                }
              }
            }
            .btnAgregar {
              color: $grisClaro;
              transition: 0.5s;
              &:hover {
                color: rgb(108, 230, 108);
                &:active {
                  color: rgb(0, 215, 0);
                  transition: none;
                }
              }
            }
          }
        }
        .line {
          width: 80%;
          height: 1px;
          background-color: $grisClaro;
          margin: auto;
        }
      }
      .total {
        font-size: 20px;
        padding: 0px 0px 0px 0px;
        margin-right: 40px;
        text-align: right;
      }
    }
    .showCarrito {
      right: 0px;
    }
    .menuContainer {
      z-index: 2;
      display: none;
    }
  }
}

@media (max-width: 737px) {
  header {
    nav {
      .logoNav {
        display: flex;
        align-items: center;
        padding-left: 0px;
        span {
          font-family: "Poppins";
          font-size: 20px;
        }
        img {
          width: 40px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        width: 150px;
        height: 100%;
        position: fixed;
        right: -150px;
        margin-left: 0px;
        top: 0;
        background-color: $grisClaro;
        transition: 1s;
        box-shadow: 0px 0px 1px 1px #00000020;

        li {
          margin-top: 10px;
          color: $blanco;
          padding-top: 20px;
          border-top: 1px solid #00000020;
          border-radius: 2;
        }
      }
      #carrito {
        margin-right: 0px;
      }
      .show {
        right: 0px;
      }
      .menuContainer {
        display: block;
        width: 25px;
        height: 25px;
        background-color: $grisClaro;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        color: $blanco;
        margin-right: 20px;
        transition: 1s;
      }
      .opacity {
        transition: 1s;
        opacity: 50%;
        color: $grisOscuro;
      }
    }
    .irArriba {
      position: fixed;
      z-index: 50;
    }
  }
}
