body {
  overflow-x: hidden;
  position: relative;
  .popupContainer {
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 350px;
    height: 350px;
    background-color: $grisMasClaro;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px #00000020;
    transition: all 2s;
    border-radius: 5px;
    z-index: 6;
    .popup {
      width: 93%;
      height: 90%;
      align-items: center;
      border-radius: 10px;
      background-color: $blanco;
      justify-content: center;
      position: relative;
      p {
        font-size: 12px;
        font-family: "poppins";
        color: $grisOscuro;
        padding: 10px 20px 10px 20px;
        text-align: justify;
      }
      .logoPopup {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 20px;
          font-family: "poppins";
        }
        img {
          width: 50px;
        }
      }
      button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        right: -35px;
        top: -35px;
        color: $blanco;
        cursor: pointer;
        border: solid 0.5px $grisOscuro;
        background-color: $grisClaro;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    position: relative;
    .popupContainer {
      position: fixed;
      top: -100vh;
      left: 50%;
      margin: auto;
      width: 280px;
      height: 400px;
      background-color: $grisMasClaro;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 2px 2px #00000020;
      transition: 2s;
      border-radius: 5px;
      z-index: 6;
      .popup {
        width: 93%;
        height: 90%;
        align-items: center;
        border-radius: 10px;
        background-color: $blanco;
        justify-content: center;
        position: relative;
        p {
          font-size: 11.5px;
          font-family: "poppins";
          color: $grisOscuro;
          padding: 10px 20px 10px 20px;
          text-align: justify;
        }
        .logoPopup {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-size: 20px;
            font-family: "poppins";
          }
          img {
            width: 50px;
          }
        }
        button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
          right: -20px;
          top: -20px;
          color: $blanco;
          cursor: pointer;
          border: none;
          background-color: $grisClaro;
          display: flex;
          justify-content: center;
          align-items: center;
          border: solid 1px $grisOscuro;
        }
      }
    }
    .top {
      top: 90px;
    }
  }
}
