.productos {
  width: 100%;
  height: 330px;
  padding: 0px 20px 30px 20px;
  h3 {
    color: $grisMasOscuro;
    font-size: 30px;
  }
  .productosContainer {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    .productoContainer {
      width: 180px;
      height: 180px;
      border-radius: 100%;
      background-color: $grisClaro;
      position: relative;
      img {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 1s ease-in-out; /* Transición suave */
      }
      &:hover img {
        // animation: pulse 1.2s infinite;
        transform: translate(-50%, -50%) scale(1.3);
      }
      &:hover p {
        color:$grisOscuro;
      }
      p {
        transition: color 0.5s;
        color: $grisClaro;
        position:absolute;
        top: 198px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
