h3 {
  color: $grisMasOscuro;
  font-size: 30px;
  padding: 0px 20px 30px 20px;
}
.productosContainer {
  height: 80vh;
  #productos {
    display: flex;
    justify-content: space-around;
    .productoContainer {
      width: 180px;
      height: 180px;
      border-radius: 100%;
      background-color: $grisClaro;
      position: relative;
      img {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.7s ease-in-out;
      }
      &:hover img {
        transform: translate(-50%, -50%) scale(1.3);
      }
      .data {
        width: 100%;
        position: absolute;
        top: 185px;
        .pNombre {
          text-align: center;
          transition: color 0.5s;
          color: $grisClaro;
          transition: 1s ease-in-out;
        }
        .precio {
          display: flex;
          justify-content: space-around;
        }
      }
      &:hover .pNombre {
        color: $grisOscuro;
      }
    }
  }
}

@media (max-width: 737px) {
  .productos {
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
    h3 {
      color: $grisMasOscuro;
      font-size: 30px;
    }
    .productosContainer {
      display: flex;
      margin: 0px;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .productoContainer {
        width: 135px;
        height: 135px;
        border-radius: 100%;
        background-color: $grisClaro;
        position: relative;
        margin: 20px;
        img {
          width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: transform 0.7s ease-in-out;
        }
        &:hover img {
          transform: translate(-50%, -50%) scale(1.3);
        }
        p {
          transition: color 0.5s;
          color: $grisClaro;
          position: absolute;
          top: 150px;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 1s ease-in-out;
          white-space: nowrap;
        }
        &:hover p {
          color: $grisOscuro;
        }
      }
    }
  }
}
