h3 {
  color: $grisMasOscuro;
  font-size: 30px;
  padding: 0px 20px 30px 20px;
}
.productosContainer {
  height: auto;
  padding-bottom: 50px;
  #productos {
    display: flex;
    justify-content: space-around;
    .productoContainer {
      height: auto;
      .productoFondo {
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        background-color: $grisClaro;
        img {
          width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: transform 0.7s ease-in-out;
        }
      }
      .data {
        width: 100%;
        padding-top: 5px;
        .pNombre {
          text-align: center;
          transition: color 0.5s;
          color: $grisClaro;
          transition: 1s ease-in-out;
        }
        .precio {
          display: flex;
          justify-content: center;
          color: $grisMasOscuro;
          .fa-cart-plus {
            margin-left: 10px;
            color: rgb(18, 178, 18);
            &:active {
              color: rgb(46, 210, 17);
            }
          }
        }
      }
      &:hover .pNombre {
        color: $grisOscuro;
      }
      &:hover img {
        transform: translate(-50%, -50%) scale(1.3);
      }
    }
  }
}

@media (max-width: 737px) {
  h3 {
    color: $grisMasOscuro;
    font-size: 27px;
    padding: 0px 10px 10px 10px;
    text-align: center;
  }
  .productosContainer {
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    #productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .productoContainer {
        height: 100%;
        width: 160px;
        margin: 10px 5px 5px 5px;
        .productoFondo {
          position: relative;
          width: 100%;
          height: 180px;
          border-radius: 100%;
          background-color: $grisClaro;
          img {
            width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.7s ease-in-out;
          }
        }
        .data {
          width: 100%;
          padding-top: 5px;
          .pNombre {
            text-align: center;
            transition: color 0.5s;
            color: $grisClaro;
            transition: 1s ease-in-out;
          }
          .precio {
            display: flex;
            justify-content: center;
            color: $grisMasOscuro;
            .fa-cart-plus {
              margin-left: 10px;
              color: green;

            }
          }
        }
        &:hover .pNombre {
          color: $grisOscuro;
        }
        &:hover img {
          transform: translate(-50%, -50%) scale(1.3);
        }
      }
    }
  }
}
