$blanco: #f7f9f9;
$grisClaro: #d1d1d1;
$grisMasClaro: #ebebeb;
$grisOscuro: #a3a3a3;

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins";
}

